{% load static %}
<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}GearNote{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <header class="navbar">
        <div class="logo">
            <a href="/">GearNote</a>
        </div>
        <nav class="nav-links">
            {% if user.is_authenticated %}
                <a href="{% url 'accounts:profilo' %}">Area Personale</a>
                <form action="{% url 'accounts:logout' %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" class="btn-logout">Esci</button>
                </form>
            {% else %}
                <a href="{% url 'accounts:login' %}">Accedi</a>
                <a href="{% url 'accounts:registrati' %}" class="btn-primary">Registrati</a>
            {% endif %}
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock content %}
    </main>

</body>
</html>